.App {
  box-sizing: border-box;
  /* background-color: blueviolet; */
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: background-color 1s ease-out;
}

a{
  color: white;
  text-decoration: none;
  font-weight: 600;
}


span {
  color: white;
}